
input[type='checkbox'] + label {
  display: block;
  cursor: pointer;
  padding: 2px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label::before {
  content: '\2714';
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-left: 2px;
  padding-bottom: 2px;
  color: transparent;
  transition: 0.2s;
  margin-right: 20px;
}

input[type='checkbox']:checked + label:before {
  background-color: #00c7ae;
  border-color: #00c7ae;
  color: white;
}