body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 600px;
  margin: 50px auto;
}

h1 {
  margin: 0;
  padding: 0 0 20px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 400px;
}

.col1{
  background: #00c7ae;
}

.col2{
  padding: 30px;
}